<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Form</title>
    <script type="text/javascript">
        globalThis.onerror = function (msg) {
            document.getElementById('body').setAttribute('JSError', msg)
        }
    </script>
    {{ form.media.css }}
</head>
<body id="body">
<form method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" name="save" value="Save"/>
    <button type="submit" name="save_continue" value="continue_value">Save &amp; continue</button>
    <button type="submit" name="custom_save" value="custom_target" formaction="{% url 'example-create' %}?foo=bar">Save &amp; continue</button>
</form>
{{ form.media.js }}
</body>
</html>
