name: CI
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  dist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
      - run: uvx --from build pyproject-build --sdist --wheel
      - run: uvx twine check dist/*
      - uses: actions/upload-artifact@v7
        with:
          path: dist/*
  js-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
      - name: Install Node dependencies
        run: npm ci
      - run: node --test --experimental-test-coverage --test-reporter=spec --test-reporter=lcov --test-reporter-destination=stdout --test-reporter-destination=lcov.txt
      - uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: javascript
          file: lcov.txt
  pytest:
    needs:
      - dist
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"
        django-version:
          - "4.2"
          - "5.2"
          - "6.0"
        exclude:
          - python-version: "3.14"
            django-version: "4.2"
          - python-version: "3.11"
            django-version: "6.0"
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
      - run: uv run --with django~=${{ matrix.django-version }}.0 pytest -m "not selenium"
      - uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: python
  selenium:
    needs:
      - pytest
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
      - run: uv run pytest -m selenium
      - uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: selenium-${{ matrix.os }}
