name: Release

on:
  release:
    types: [published]

jobs:
  PyPi:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.3.4
    - uses: actions/setup-python@v2.2.2
    - name: Install Python dependencies
      run: python -m pip install --upgrade pip setuptools wheel twine
    - uses: actions/setup-node@v2.4.1
    - name: Install Node dependencies
      run: npm ci
    - name: Minify JavaScript files
      run: npm run-script minify
    - name: Build dist packages
      run: python setup.py sdist bdist_wheel
    - name: Upload packages
      run: python -m twine upload dist/*
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.TWINE_PASSWORD }}
